* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background: #444;
  font-family: sans-serif;

  font-size: small;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

h1 {
  font-size: 30px;
  display: flex;
  align-content: center;
  justify-content: center;
  color: #ffff;
  padding: 40px 40px;
  text-transform: uppercase;
  background-color: #222;
}

.channel-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  align-items: center;
}

.channel-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  margin: 2%;
  width: 40%;
  height: 70%;
  align-items: center;
  background: #333;

  font-weight: 300;
  font-size: 0.9rem;
}

.Img {
  width: 100%;
  height: 50%;
  border-radius: 20px 20px 0 0;
}

.card-Info {
  margin: 1rem;
  white-space: wrap;
}

.player {
  background: #dddd;
  border-radius: 2rem;
  margin-bottom: 2rem;
}
p.card-Info {
  color: white;
}

a {
  text-decoration: none;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffff;
}
